
mixin modal() 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title--js
				p Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей.
			//- +input("Введите имя",'text','','name')(required) 
			+input("Введите имя")(required)
			+input("+7 (___) ___-__-__","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn.btn-primary(type="submit") 
			+polite()
		// #modal-call
	
		
		+b.form-wrap(id="modal-thanks" class="  modal-win modal-form" )
			.text-center
				+e.title Спасибо за обращение!
				p Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей.
		// #modal-thanks
	