$default-font: "Akzidenz Grotesk Pro";
$default-font2: "Verbena C";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2;

@include font-face ($default-font, $addr + "AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular", $file-formats: $file-format);
@include font-face ($default-font, $addr + "AkzidenzGroteskPro-Bold/AkzidenzGroteskPro-Bold", bold, $file-formats: $file-format);
@include font-face ($default-font, $addr + "AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md", 500, $file-formats: $file-format);

@include font-face ($default-font2, $addr + "VerbenaC-Bold/VerbenaC-Bold", $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold