mixin headerBlock(img, p, title)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.table.bg-wrap
			img.img-bg.object-fit-js(:src="mainImg", alt="")
			+e.inner
				.container
					p  {{text}}
					h1(v-html= "title") 
					+e.btn.scroll-link(href="#sCalc") Рассчитать стоимость 
		+b.btn-bottom--js
			+icon("arrow-down")
	// end headerBlock
	