mixin sCeilings()
	// start sCeilings
	+b.SECTION.sCeilings.section#sCeilings&attributes(attributes)
		.container
			+b.section-title
				+e.top-title(v-html="subT")
				h2(v-html="h2") 
				+e.foot-title(v-html="footT") 
			+e.block#sCeilingsbgWrap
				.item-bg.item-bg-animate.p-0#sCeilingsbg
				.row
					.col-md-6( class="wow fadeIn "  data-wow-delay=`${delay}s` data-wow-duration=`${dur }s`   )
						+e.img-wrap--lg.bg-wrap(href="#" )
							img.img-bg.object-fit-js(:src="'img/' + gal", alt="")
					.col-md-6.align-self-center( class="wow fadeIn "  data-wow-delay=`${delay + .5}s` data-wow-duration=`${dur }s`   )
						+e.caption
							+e.title.item-bg__title(v-html="title")
							p(v-html="p")
							+e.btn(href="#") Узнать подробнее
	// end sCeilings