.aside {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	@include mt(.3);

	@include media-breakpoint-up(xl) {
		transform: translateX(0) !important;

		&.before-loaded {
			transform: translateX(-100%) !important;
		}
	}

	transform: translateX(-100%);

	@include media-breakpoint-up(xxl) {
		max-width: rem(263);
	}

	@include media-breakpoint-up(md) {
		max-width: rem(263 *.85);
	}

	@include media-breakpoint-between(md, lg) {
		max-width: 250px;
	}

	width: 100%;

	&.active {
		transform: translateX(0);
	}

	&__inner {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;

		text-align: center;
		height: 100vh;

		//  min-height: 1000px;
		@include media-breakpoint-up(xl) {

			padding: rem(30);
		}

		padding: rem(28) rem(15);

		@include media-breakpoint-up(sm) {

			padding-bottom: rem(70) !important;
		}

		@include media-breakpoint-up(md) {

			padding-top: rem(90);
		}

		padding-top: rem(70);
		display: flex;
		flex-direction: column;
		//  justify-content: center;
		align-items: center;
		position: relative;
		overflow-y: auto;


	}


	&__logo {
		@include media-breakpoint-up(xxl) {}

		margin-bottom: 4vh;

		// margin-bottom: rem(30 * .8);

		img {
			max-width: rem(170);
		}
	}

	.toggle-menu-mobile {
		// position: absolute;
		left: rem(42);
		// top: rem(50);
	}

	li {
		list-style: none;

		@include media-breakpoint-up(xxl) {

			margin-bottom: 3.6vh;
		}

		@include media-breakpoint-up(sm) {

			margin-bottom: 2.6vh;
		}

		margin-bottom: 1.5rem;

		@include mt;

		img {
			width: rem(36);
			height: re(36);
		}

		.menu-icon {
			@include media-breakpoint-up(xxl) {}

			padding-bottom: rem(20);
			margin-bottom: rem(20);

			// padding-bottom: rem(10);
			// margin-bottom: rem(10);
			position: relative;

			&::before {
				content: '';
				@include a-cent(x);
				bottom: 0;
				background-color: $body-color;
				width: rem(30px);
				height: 2px;
				@include mt;

				@include media-breakpoint-between(md, lg) {
					display: none;
				}
			}

			@include media-breakpoint-between(md, lg) {
				width: 48px;
				height: 48px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				margin: 0;
				margin-right: 15px;
				// background-color: gray;
				padding: 0;

				img {
					width: rem(32);
					height: re(32);
				}
			}
		}




		a {
			color: $body-color !important;
			text-decoration: none !important;
			font-weight: 500;
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: rem(200);

			@include media-breakpoint-between(md, lg) {
				max-width: none;
				margin-left: 0;
				display: flex;
				align-items: center;
				text-align: left;
				line-height: 1.2;
			}
		}

		opacity: 0.6;

		&:hover,
		&.current-menu-item {
			opacity: 1;

			.menu-icon::before {
				background-color: $primary;
			}

			@include media-breakpoint-between(md, lg) {
				opacity: 1;

				.menu-icon {
					background-color: $primary;
				}
			}
		}
	}

	&__logo-caption {
		color: $secondary;
		font-weight: 50;
		font-size: $small;
		padding-top: rem(28);
		// padding-bottom: rem(28);
	}

	&__btn {
		@extend .btn;
		@extend .btn-blue;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		color: #ffffff;

		@include media-breakpoint-up(xl) {
			height: rem(80);
		}

		height: rem(68);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		z-index: 2;
		padding: 0;


		@include media-breakpoint-up(xxl) {
			max-width: rem(263);
		}

		@include media-breakpoint-up(md) {
			max-width: rem(263 *.85);
		}

		@include media-breakpoint-between(md, lg) {
			max-width: 250px;
		}

		.icon {
			@include a-cent;
			color: #1167ab;
			font-size: rem(130);
			z-index: -1;
			@include mt;

			@include media-breakpoint-between(md, lg) {
				transform: none;
				// position: relative;
				position: static;
				color: #ffffff;
				font-size: rem(25);
				margin-right: rem(10px);
				// font-size: 15px;
			}

		}
	}

	&__link--mail {
		color: $secondary;
		display: inline-block;
		margin-bottom: rem(20);

		&:hover,
		&.active {
			color: $body-color;
			border-bottom-color: $primary;
		}
	}

	&__link--tel {
		@extend .text-body;
		position: relative;
		padding-left: rem(16);

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			background-color: $primary;
			border-radius: 50%;
			@include a-cent(y);
			left: 0;
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		margin-bottom: 0;

		&__inner {

			padding-bottom: 150px;
			padding-top: rem(100);
		}

		li {
			margin-left: auto;
			margin-right: auto;
			max-width: rem(160);
		}

		.toggle-menu-mobile {
			display: none;
		}
	}

}

.toggle-line {
	position: fixed;

	@include media-breakpoint-up(sm) {
		z-index: 990;
	}

	z-index: 1100;

	left: 0;

	@include media-breakpoint-up(sm) {

		height: 100%;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
	}

	height: rem(68);
	top: 0;
	width: rem(68);
	padding-top: rem(68);
	display: flex;
	flex-direction: column;

	&__btn {
		@include media-breakpoint-up(sm) {

			display: flex;
		}

		display: none;
		@extend .btn;
		@extend .btn-blue;
		width: rem(68);
		height: rem(68);
		align-items: center;
		justify-content: center;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 0;

		.icon {
			font-size: rem(24);
		}
	}

	.toggle-menu-mobile--center {
		position: relative;
		flex-grow: 1;
		margin-bottom: rem(68);

		@include media-breakpoint-up(sm) {
			display: block;
		}

		display: none;

		&::before {
			content: 'Меню сайта';
			position: absolute;
			transform-origin: top left;
			color: $secondary;
			line-height: 1.25;
			white-space: nowrap;
			font-weight: 500;
			left: 50%;
			top: 50%;
			transform: rotate(-90deg) translate(-50%, -50%);
		}
	}
}