mixin sCases()
	// start sCases 
	+b.SECTION.section-with-slider--cases.section.section--with-slider#sCases&attributes(attributes)
		.container
			+b.section-title
				+e.top-title(v-html="subT")
				+e.h2-wrap
					h2(v-html="h2")  
					.swiper-pagination
			.slider-wrapper
				+e.slider.slider-js.swiper-container
					.swiper-wrapper
						template(v-for="x in 3") 
							+e.slide.swiper-slide(v-for="item in items" :key="item.title")
								+e.item.item-bg.p-0
									+e.row.row
										+e.col.col-md-6.align-center.swiper-no-swiping
											+b.tabs 
												+e.wrap 
													template(v-for="n in 5")
														+e.content(v-for="(gal, index) in item.gals" :class="{ 'active': n === 1 }")
															+e.A.img-wrap--lg.bg-wrap(:href="'img/@2x/' + gal" data-fancybox="gal")
																img.img-bg.object-fit-js.swiper-lazy(src="#" :data-src="'img/@2x/' + gal", alt="")
												+e.caption
													template(v-for="n in 5")
														+e.btn(v-for="(gal, index) in item.gals" :class="{ 'active': n === 1 }")
															+e.img-wrap--sm.bg-wrap
																img.img-bg.object-fit-js.swiper-lazy(src="#" :data-src="'img/@1x/' + gal", alt="")

										+e.col.col-md-6
											+e.caption
												+e.title.item-bg__title(v-html="item.title")
												p(v-html="item.p")
												+e.strong.row
													.col-auto
														+icon('area')
														| {{item.area}}
													.col-auto
														+icon('event')
														| {{item.date}}
					.row
						.col-md-6
						.col-md-6
							+arrow()
	// end sCases