extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sBenefits/_sBenefits.pug 
include ../blocks/sEquipment/_sEquipment.pug 
include ../blocks/sMaterials/_sMaterials.pug 
include ../blocks/sCases/_sCases.pug 
include ../blocks/sCeilings/_sCeilings.pug 
include ../blocks/sArticals/_sArticals.pug 
include ../blocks/aside/_aside.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Современное оборудование, используемое при безвоздушной покраске'
	- let  b= ['Блог', title]
	title= title
block pagecontent 
	//- +mob-mnu
	+aside() 
	+topLine(b)
	+b.page-head.section
		.container 
			+breadcrumb('Главная',...b)
			h1= title
	+b.sContent.section.pt-0
		.container
			+e.body
				p.text-secondary 29 ноября 2021
				img(src="img/artical.jpg" , alt="").res-i
				p Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют определения и уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом консультация с широким активом требуют от нас анализа модели развития. Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании систем массового участия. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий играет важную роль в формировании новых предложений.

				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание соответствующий условий активизации. Разнообразный и богатый опыт сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас анализа форм развития. Равным образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений.
				img(src="img/artical2.jpg" , alt="").res-i
				h2 Основные проблемы безвоздушной покраскаи
				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений.
				h3 Кому может понадобиться безвоздушная покраска
				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений.
				h4 Ваши выгоды при работе с нами
				ol
					li  современное оборудование
					li  лучшие материалы
					li  квалифицированные специалисты
				h5 Реализованные проекты
				p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание соответствующий условий активизации.
				h6 Преимущества безвоздушной покраски
				ul
					li Технология и опыт позволяют выполнять объемы до 500 м2 точно в срок.
					li Используем качественное американское оборудование
					li Образование полноценной окрасочной пленки, чего не достичь традиционными методами покраски.
					li Многоуровневые потолки, гипсовые изделия, багеты.
			+e.footer
				.row
					.col.text-secondary 25 ноября 2021

					.col-auto
						.row
							.col-auto Поделиться:
							.col-auto
								<script src="https://yastatic.net/share2/share.js"></script>
								<div class="ya-share2" data-curtain data-size="l" data-shape="round" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter"></div>
	//- +headerBlock

	//- script.
	//- 	let headerBlockVue = new Vue({
	//- 		el: '#headerBlock',
	//- 		data: {
	//- 			imgSRc: 'img/',
	//- 			mainImg: 'img/@2x/head-1.jpg',
	//- 			text: 'Равномерное покрытие за 3 дня',
	//- 			title: `<strong>Механизированная шпатлевка помещений от&nbsp;130&nbsp;руб/м2</strong> в&nbsp;Нижнем Новгороде`
	//- 		},
	//- 	})

	
	//- +sBenefits
	//- script.
	//- 		let sBenefitsVue = new Vue({
	//- 		el: '#sBenefits',
	//- 		data: {
	//- 			imgSRc: 'img/',
	//- 			subT: ' Почему клиенты выбирают нас?',
	//- 			h2: 'Ваши выгоды при работе с&nbsp;нами',
	//- 			items: [
	//- 				{
	//- 					title: `От&nbsp;3&nbsp;дней <br> точно в&nbsp;срок`,
	//- 					p: `Технология и&nbsp;опыт позволяют выполнять объемы до&nbsp;500 м2 &nbsp;точно в&nbsp;срок.`, img: `1`,
	//- 					style: 'margin-bottom: 0'
	//- 				},
	//- 				{
	//- 					title: `Высокое качество готовой поверхности`,
	//- 					p: `Не&nbsp;требует дальнейшей обработки за&nbsp;счет увеличения адгезии между поверхностью и&nbsp;раствором.`,
	//- 					img: `2`
	//- 				},
	//- 				{
	//- 					title: `Высокое качество используемого раствора`,
	//- 					p: `За&nbsp;счет механического смешивания компонентов.`,
	//- 					img: `3`,
	//- 					style: " margin-right: 0"
	//- 				},

	//- 				{
	//- 					title: "Экономный расход шпаклевочной смеси",
	//- 					p: `А&nbsp;также выгодная цена шпатлевки от&nbsp;130&nbsp;руб/ м2.`,
	//- 					img: `4`
	//- 				},

	//- 			]
	//- 		},
	//- 	})

	//- +sEquipment
	//- +sMaterials
	//- +sCases
	//- +sCalc
	//- script.
	//- 	let sCalcVue = new Vue({
	//- 		el: '#sCalc',
	//- 		data: {
	//- 			imgSRc: 'img/',
	//- 			subT: 'Узнайте стоимость работ',
	//- 			h2: `Рассчитайте стоимость  <br> механизированной шпатлевки`,
	//- 		},
	//- 		created: function () {
	//- 		},
	//- 		computed: {

	//- 		},
	//- 	})
	//- +sCeilings
	//- +sContact()

	+footer()