extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sBenefits/_sBenefits.pug 
include ../blocks/sEquipment/_sEquipment.pug 
include ../blocks/sMaterials/_sMaterials.pug 
include ../blocks/sCases/_sCases.pug 
include ../blocks/sCeilings/_sCeilings.pug 
include ../blocks/sCalc/_sCalc.pug 
include ../blocks/aside/_aside.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Безвоздушная покраска'
	title= title
block pagecontent 
	//- +mob-mnu
	+aside() 
	+topLine()
	+headerBlock
	script.
		let headerBlockVue = new Vue({
			el: '#headerBlock',
			data: {
				mainImg: 'img/@2x/head-3.jpg',
				text: 'Без следов от кистей за 3 дня',
				title: '<strong>Безвоздушная покраска помещений от&nbsp;110&nbsp;руб/м2</strong> в&nbsp;Нижнем Новгороде'
			},
		})

	
	+sBenefits
	script.
			let sBenefitsVue = new Vue({
			el: '#sBenefits',
			data: {
				subT: ' Почему клиенты выбирают нас?',
				h2: 'Ваши выгоды при работе с&nbsp;нами',
				items: [
					{
						title: "От&nbsp;3&nbsp;дней <br> точно в&nbsp;срок",
						p:  `Технология и&nbsp;опыт позволяют выполнять объемы до&nbsp;500 м2&nbsp;точно в&nbsp;срок.`, img: `1`,
					 style: " margin-bottom: 0"
					},
					{
						title: `Американское <br> качество`,
						p:  `Используем качественное <br>  американское оборудование`,
						img: `3-2`,
					 
					},
					{
						title:  `Долговечность <br> покрытия`,
						p: `Образование полноценной окрасочной пленки, чего не&nbsp;достичь традиционными методами покраски.`,
						img: `3-3`,
				 
					},

					{
						title: "Окраска сложных <br> поверхностей",
						p:  `Многоуровневые потолки, <br> гипсовые изделия, багеты.`,
						img: `3-4`,
						style: " margin-right: 0; margin-bottom: 0"
					},

				]
			},
		})

	+sEquipment
	+sMaterials
	+sCases
	+sCalc("c2")
	script.
		let sCalcVue = new Vue({
			el: '#sCalc',
			data: {
				subT: 'Узнайте стоимость работ',
				h2: `Рассчитайте стоимость  <br> механизированной штукатурки `,
			},
			created: function () {
			},
			computed: {

			},
		})
	+sCeilings
	+sContact()
	+footer()