extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sBenefits/_sBenefits.pug 
include ../blocks/sEquipment/_sEquipment.pug 
include ../blocks/sMaterials/_sMaterials.pug 
include ../blocks/sCases/_sCases.pug 
include ../blocks/sCalc/_sCalc.pug 
include ../blocks/aside/_aside.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent 
	+mob-mnu
	+aside() 
	+topLine()
	+headerBlock("mainImg")
		p {{text}}
		h1(v-html="title") 
	script.
		
	
	+sBenefits
	+sEquipment
	+sMaterials
	+sCases
	+sCalc
	+sContact()
	+footer()