extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sBenefits/_sBenefits.pug 
include ../blocks/sEquipment/_sEquipment.pug 
include ../blocks/sMaterials/_sMaterials.pug 
include ../blocks/sCases/_sCases.pug 
include ../blocks/sCeilings/_sCeilings.pug 
include ../blocks/sCalc/_sCalc.pug 
include ../blocks/aside/_aside.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Механизированная шпатлевка'
	title= title
block pagecontent 
	//- +mob-mnu
	+aside() 
	+topLine()
	+headerBlock
	script.
		let headerBlockVue = new Vue({
			el: '#headerBlock',
			data: {
				imgSRc: 'img/',
				mainImg: 'img/@2x/head-1.jpg',
				text: 'Равномерное покрытие за 3 дня',
				title: `<strong>Механизированная шпатлевка помещений от&nbsp;130&nbsp;руб/м2</strong> в&nbsp;Нижнем Новгороде`
			},
		})

	
	+sBenefits
	script.
			let sBenefitsVue = new Vue({
			el: '#sBenefits',
			data: {
				imgSRc: 'img/',
				subT: ' Почему клиенты выбирают нас?',
				h2: 'Ваши выгоды при работе с&nbsp;нами',
				items: [
					{
						title: `От&nbsp;3&nbsp;дней <br> точно в&nbsp;срок`,
						p: `Технология и&nbsp;опыт позволяют выполнять объемы до&nbsp;500 м2 &nbsp;точно в&nbsp;срок.`, img: `img/@2x/sBenefits-1.png`,
						style: 'width: 10.77778rem;'
					},
					{
						title: `Высокое качество готовой поверхности`,
						p: `Не&nbsp;требует дальнейшей обработки за&nbsp;счет увеличения адгезии между поверхностью и&nbsp;раствором.`,
						img: `img/@2x/sBenefits-2.png`
					},
					{
						title: `Высокое качество используемого раствора`,
						p: `За&nbsp;счет механического смешивания компонентов.`,
						img: `img/@2x/sBenefits-3.png`,
						style: "right:0; bottom: 2rem; margin-right: 0"
					},

					{
						title: "Экономный расход шпаклевочной смеси",
						p: `А&nbsp;также выгодная цена шпатлевки от&nbsp;130&nbsp;руб/ м2.`,
						img: `img/@2x/sBenefits-4.png`
					},

				]
			},
		})

	+sEquipment
	+sMaterials
	+sCases
	+sCalc
	script.
		let sCalcVue = new Vue({
			el: '#sCalc',
			data: {
				imgSRc: 'img/',
				subT: 'Узнайте стоимость работ',
				h2: `Рассчитайте стоимость  <br> механизированной шпатлевки`,
			},
			created: function () {
			},
			computed: {

			},
		})
	+sCeilings
	+sContact()
	+footer()