mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+b.section-title
				+e.top-title(v-html="subT")
				h2(v-html="h2") 
				
			.row
	// end sContent