// start .topLine
// .main-wrapper {
// 	padding-top: rem(68);
// }

.topLine {
	img {
		width: rem(140);
	}

	font-weight: 500;
	// padding-right: rem(68);
	box-shadow: 0 0 rem(30px) rgba(0, 0, 0, 0.05);
	background-color: #ffffff;

	@include media-breakpoint-up(sm) {

		// z-index: 10;
		z-index: 200;
	}

	z-index: 1005;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;

	&__logo-caption {
		max-width: rem(300);
		line-height: 1.25;
	}

	.container-fluid {
		padding-right: 0;
	}

	.row {
		align-items: center;
	}

	ul {

		display: flex;
		margin-bottom: 0;
		justify-content: space-between;
		list-style: none;

		max-width: rem(1024);
		margin-left: auto;
		margin-right: auto;

		a {
			color: $secondary;
			border-bottom: 2px solid transparent;
			// padding: rem(5);
			text-decoration: none !important;

			&:hover,
			&.active {
				color: $body-color;
				border-bottom-color: $primary;
			}
		}

		li.active {
			a {
				color: $body-color;
				border-bottom-color: $primary;
			}
		}
	}


	padding-right: 0 !important;

	&__btn {
		@extend .btn;
		padding: 0;
		width: var(--btn-s);
		height: var(--btn-s);
		display: flex;
		justify-content: center;
		align-items: center;
		
		.icon {
			@include media-breakpoint-up(sm) {
				font-size: 1.11111rem;
			}
			// font-size: rem(20);
			font-size: 2.11111rem;
		}

		@include media-breakpoint-down(xs) {
			&.btn-primary {

				position: fixed;
				width: 100%;
				left: 0;
				bottom: 0;
				color: #ffffff !important;
				background-color: #3d4148 !important;
				border-color: #3d4148 !important;
				transition: all .36s;
    transform: translateY(150%);
				.icon {
					margin-right: rem(10);
					color: $primary !important;
				}
			}
		}
	}

	a {

		text-decoration: none !important;
	}

	&__link--mail {
		color: $secondary;


		&:hover,
		&.active {
			color: $body-color;
			border-bottom-color: $primary;
		}
	}

	&__link--tel {
		@extend .text-body !optional;;
		position: relative;
		padding-left: rem(16);

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			background-color: $primary;
			border-radius: 50%;
			@include a-cent(y);
			left: 0;
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {
		.row {
			@include roww(10);
		}
	}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		padding-left: calc(#{rem(68)} + 15px);
	}

}

// end.topLine