mixin sProcess()
	// start sProcess
	+b.SECTION.sProcess.section#sProcess&attributes(attributes)
		.container
			+b.section-title
				+e.top-title(v-html="subT")
				h2(v-html="h2") 
				
			.row
				+e.col.col-lg-4.col-sm-6(v-for="item in items" :key="item.title" class="wow fadeInUp" data-wow-duration=`${dur}s`  data-wow-delay=`${delay}s`)
					+e.img-wrap
						img.res-i(:src="item.img", alt="" )
					+e.title(v-html="item.title")
					p(v-html="item.p")
	// end sProcess