mixin sArticals()
	// start sArticals
	+b.sArticals.section#sArticals&attributes(attributes)
		.container
			.row
				mixin item(i,t,p)
					+e.col.col-lg-4.col-sm-6
						+e.ARTICAL.item
							img(src=`img/blog-${i}.jpg`, alt="").res-i
							+e.title= t
							p= p
							+e.footer
								+e.btn(href="#") Читать
					// /col.col-4
				- for (var x = 0; x < 3; x++)
					+item(`1`,`Использование современного оборудования`,`Равным образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров`)
					+item(`2`,`Долговечность покрытия`,`Разнообразный и богатый опыт сложившаяся структура организации позволяет выполнять важные `)
					+item(`3`,`Окраска сложных поверхностей`,`Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании`)
			+pugin() 
	// end sArticals